{
    "openapi": "3.0.1",
    "info": {
        "title": "KiesMBO.nl API",
        "description": "KiesMBO.nl publieke API",
        "contact": {
            "name": "Team New-Horizon | iO Den Bosch",
            "url": "https://www.iodigital.com/",
            "email": "administration@weareyou.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://gateway.s-bb.nl/kiesmbo"
        }
    ],
    "paths": {
        "/api/v1/export": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "Export",
                "operationId": "Export",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "lastUpdated": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExport"
                                },
                                "example": "2022-05-22T10:05:53.0000000+00:00"
                            },
                            "schools": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExport"
                                },
                                "example": [
                                    {
                                        "brin": "25LW",
                                        "name": "Noorderpoort",
                                        "website": "https://www.noorderpoort.nl",
                                        "locations": [
                                            {
                                                "brinvest": "25LW00",
                                                "name": "Bestuursbureau",
                                                "isMainLocation": true,
                                                "street": "Verzetsstrijderslaan",
                                                "houseNumber": "4",
                                                "zipCode": "9727 CE",
                                                "city": "Groningen",
                                                "province": "Groningen",
                                                "website": "http://www.noorderpoort.nl/",
                                                "studies": [],
                                                "opendays": []
                                            },
                                            {
                                                "brinvest": "25LW04",
                                                "name": "Energy & Maritime",
                                                "isMainLocation": false,
                                                "street": "Duurswoldlaan",
                                                "houseNumber": "2a",
                                                "zipCode": "9936 HA",
                                                "city": "Delfzijl",
                                                "province": "Groningen",
                                                "website": "http://www.noorderpoort.nl/",
                                                "studies": [
                                                    {
                                                        "crebo": "25683",
                                                        "learningPaths": [
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "http://www.noorderpoort.nl/mbo-opleidingen/transport-scheepvaart-en-logistiek/maritiem-officier-alle-schepen-25516"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "crebo": "25345",
                                                        "learningPaths": [
                                                            "BBL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "http://www.noorderpoort.nl/mbo-opleidingen/techniek-en-ict/allround-operationeel-technicus-25345"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-06-22T10:05:53.0000000+00:00",
                                                        "endDate": "2022-06-22T06:05:53.0000000+00:00",
                                                        "url": "https://www.noorderpoort.nl/open-dagen/last-minute-informatiemarkt-alle-opleidingen/",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": false
                                                    },
                                                    {
                                                        "startDate": "2022-07-22T10:05:53.0000000+00:00",
                                                        "endDate": "2022-07-22T06:05:53.0000000+00:00",
                                                        "url": "https://www.noorderpoort.nl/open-dagen/informatieavond/",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": false
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "brin": "25LP",
                                        "name": "Zadkine",
                                        "website": "https://www.zadkine.nl/",
                                        "locations": [
                                            {
                                                "brinvest": "25LP01",
                                                "name": "Marten Meesweg",
                                                "isMainLocation": false,
                                                "street": "Marten Meesweg",
                                                "houseNumber": "50",
                                                "zipCode": "3068 AV",
                                                "city": "Rotterdam-Oost",
                                                "province": "Zuid-Holland",
                                                "website": "https://www.zadkine.nl/locaties/rotterdam-oost-marten-meesweg",
                                                "studies": [
                                                    {
                                                        "crebo": "25648",
                                                        "learningPaths": [
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "crebo": "25414",
                                                        "learningPaths": [
                                                            "BBL",
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-08-22T10:05:53.0000000+00:00",
                                                        "endDate": "2022-08-22T06:05:53.0000000+00:00",
                                                        "url": "https://www.zadkine.nl/opendag",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": true
                                                    }
                                                ]
                                            },
                                            {
                                                "brinvest": "25LP05",
                                                "name": "Benthemplein",
                                                "isMainLocation": true,
                                                "street": "Benthemplein",
                                                "houseNumber": "15",
                                                "zipCode": "3032 CC",
                                                "city": "Rotterdam",
                                                "province": "Zuid-Holland",
                                                "website": "https://www.zadkine.nl/locaties/rotterdam-centrum-benthemplein",
                                                "studies": [
                                                    {
                                                        "crebo": "25683",
                                                        "learningPaths": [
                                                            "BOL",
                                                            "BBL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-08-22T10:05:53.0000000+00:00",
                                                        "endDate": "2022-08-22T06:05:53.0000000+00:00",
                                                        "url": "https://www.zadkine.nl/opendag",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": true
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "studies": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExport"
                                },
                                "example": [
                                    {
                                        "crebo": "25683",
                                        "creboName": "Maritiem officier alle schepen technisch",
                                        "studyNumber": "b1030",
                                        "profession": "bc477",
                                        "professionNumber": "23278",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Werken op zee, op grote zeeschepen, is dat iets voor jou? Als maritiem officier alle schepen technisch ben jij verantwoordelijk voor het technisch onderhoud aan boord.</span></p>",
                                        "youtubeVideoCode": "EXjukcWPXLM"
                                    },
                                    {
                                        "crebo": "25345",
                                        "creboName": "Allround operationeel technicus",
                                        "studyNumber": "b0753",
                                        "profession": "bc155",
                                        "professionNumber": "23132",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Vind jij het heerlijk om aan apparaten te sleutelen en zie jij jezelf wel zelfstandig daarin werken? Dan is allround operationeel technicus echt iets voor jou. Je installeert en bedient apparaten en zorgt ook voor het onderhoud.</span></p>",
                                        "youtubeVideoCode": "bhfbdm6o2lQ"
                                    },
                                    {
                                        "crebo": "25648",
                                        "creboName": "Zelfstandig medewerker leisure & hospitality",
                                        "studyNumber": "b0396",
                                        "profession": "bc300",
                                        "professionNumber": "23264",
                                        "level": 3,
                                        "duration": "2025-02-03",
                                        "introtext": "<p><span>Ben jij een echte gangmaker die mensen meekrijgt in een activiteit? Hou je ervan om mensen een mooie belevenis te geven? Dan is dit dé baan voor jou!</span></p>",
                                        "youtubeVideoCode": "BJm1zvoNcAE"
                                    },
                                    {
                                        "crebo": "25414",
                                        "creboName": "Coördinator sportinstructie, training en coaching",
                                        "studyNumber": "b0553",
                                        "profession": "bc350",
                                        "professionNumber": "23163",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Onmisbaar voor elke sporter en elk sportteam. Jij haalt het beste uit elke sporter en je houdt scherp in de gaten hoe teams beter kunnen presteren.</span></p>",
                                        "youtubeVideoCode": "bT_g3b8MkUo"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/studieincijfers/{brin}": {
            "get": {
                "tags": [
                    "Studie in Cijfers"
                ],
                "summary": "LinksForBRIN",
                "operationId": "LinksForBRIN",
                "parameters": [
                    {
                        "name": "brin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "HasError": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": "False"
                            },
                            "Data": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": [
                                    {
                                        "Code": "bc008_BOL4",
                                        "Name": "Apothekersassistent-BOL",
                                        "FrameURL": "https://www.kiesmbo.nl/studieincijfers/25px/bc008_bol4",
                                        "ApiURL": "/api/v1/studieincijfers/25px/bc008_bol4",
                                        "Level": 4,
                                        "Brin": "25PX"
                                    },
                                    {
                                        "Code": "bc008_TOT4",
                                        "Name": "Apothekersassistent",
                                        "FrameURL": "https://www.kiesmbo.nl/studieincijfers/25px/bc008_tot4",
                                        "ApiURL": "/api/v1/studieincijfers/25px/bc008_tot4",
                                        "Level": 4,
                                        "Brin": "25PX"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/studieincijfers/{brin}/{code}": {
            "get": {
                "tags": [
                    "Studie in Cijfers"
                ],
                "summary": "LeafletForCode",
                "operationId": "LeafletForCode",
                "parameters": [
                    {
                        "name": "brin",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "code",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "HasError": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": "False"
                            },
                            "Data": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": {
                                    "Code": "bc203_BOL4",
                                    "Name": "Tandartsassistent-BOL",
                                    "FrameURL": "https://www.kiesmbo.nl/studieincijfers/30rr/bc203_bol4",
                                    "ApiURL": "/api/v1/studieincijfers/25px/bc008_bol4",
                                    "Level": 4,
                                    "Brin": "30RR",
                                    "SchoolName": "MBO Amersfoort",
                                    "Remarks": "",
                                    "Items": [
                                        {
                                            "Item": "Percentage geslaagde studenten",
                                            "Score": 0,
                                            "NationScore": 0.78,
                                            "StudyNumber": "",
                                            "StudyName": "",
                                            "Order": 9287,
                                            "Remarks": ""
                                        },
                                        {
                                            "Item": "Kans op stage",
                                            "Score": 2,
                                            "NationScore": 2,
                                            "StudyNumber": "b0121",
                                            "StudyName": "Tandartsassistent",
                                            "Order": 9287,
                                            "Remarks": "Let op: de coronacrisis heeft invloed op de uitkomst. Aan het begin van je opleiding vind je moeilijker een stage. Dan moet je vaker solliciteren. Aan het einde van je opleiding is dat makkelijker. Vrij veel studenten volgen deze opleiding ergens anders dan op een roc. Daardoor vind je in de ene regio makkelijker een stage of leerbaan dan in de andere regio."
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/studies": {
            "get": {
                "tags": [
                    "Opleidingen"
                ],
                "summary": "Studies",
                "operationId": "Studies",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "HasError": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": "False"
                            },
                            "Data": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": [
                                    {
                                        "Name": "Leidinggevende team/afdeling/project",
                                        "StudyNumber": "b0355",
                                        "Crebo": "25160"
                                    },
                                    {
                                        "Name": "Technisch leidinggevende",
                                        "StudyNumber": "b0960",
                                        "Crebo": "25161"
                                    },
                                    {
                                        "Name": "Vakman - ondernemer",
                                        "StudyNumber": "b0956",
                                        "Crebo": "25165"
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/studies/{studyNumber}": {
            "get": {
                "tags": [
                    "Opleidingen"
                ],
                "summary": "StudyDetails",
                "operationId": "StudyDetails",
                "parameters": [
                    {
                        "name": "studyNumber",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "HasError": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": "False"
                            },
                            "Data": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResult"
                                },
                                "example": {
                                    "Name": "Leidinggevende team/afdeling/project",
                                    "StudyNumber": "b0355",
                                    "Crebo": "25160",
                                    "Intro": "ind jij het een uitdaging om een team vooruit te helpen? Wil je medewerkers tevreden laten werken en resultaten voor je bedrijf boeken? Als leidinggevende van een team, afdeling of project heb jij de touwtjes in handen!\nSBB geeft onafhankelijke informatie over alle BOL en BBL opleidingen in Nederland. Ik kippiepan!",
                                    "Url": "https://www.kiesmbo.nl/opleidingen/algemeen/leidinggevende-teamafdelingproject",
                                    "Interests": [
                                        "marketing en management"
                                    ],
                                    "Workspaces": [
                                        "estate"
                                    ],
                                    "Talents": [
                                        "communicatief",
                                        "leiding kunnen geven",
                                        "ondernemend",
                                        "plannen - organiseren",
                                        "samenwerken",
                                        "verantwoordelijk"
                                    ],
                                    "Images": [
                                        "https://www.kiesmbo.nl/media/1775/25160-1.jpg?anchor=center&mode=crop&width=1280&height=600&rnd=131822640170000000"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/export": {
            "get": {
                "tags": [
                    "Export"
                ],
                "summary": "ExportV2",
                "operationId": "ExportV2",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "lastUpdated": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExportV2"
                                },
                                "example": "2022-05-22T10:06:17.0000000+00:00"
                            },
                            "schools": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExportV2"
                                },
                                "example": [
                                    {
                                        "brin": "25LW",
                                        "name": "Noorderpoort",
                                        "website": "https://www.noorderpoort.nl",
                                        "locations": [
                                            {
                                                "brinvest": "25LW00",
                                                "name": "Bestuursbureau",
                                                "isMainLocation": true,
                                                "street": "Verzetsstrijderslaan",
                                                "houseNumber": "4",
                                                "zipCode": "9727 CE",
                                                "city": "Groningen",
                                                "province": "Groningen",
                                                "website": "http://www.noorderpoort.nl/",
                                                "studies": [],
                                                "opendays": []
                                            },
                                            {
                                                "brinvest": "25LW04",
                                                "name": "Energy & Maritime",
                                                "isMainLocation": false,
                                                "street": "Duurswoldlaan",
                                                "houseNumber": "2a",
                                                "zipCode": "9936 HA",
                                                "city": "Delfzijl",
                                                "province": "Groningen",
                                                "website": "http://www.noorderpoort.nl/",
                                                "studies": [
                                                    {
                                                        "crebo": "25683",
                                                        "learningPaths": [
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "http://www.noorderpoort.nl/mbo-opleidingen/transport-scheepvaart-en-logistiek/maritiem-officier-alle-schepen-25516"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "crebo": "25345",
                                                        "learningPaths": [
                                                            "BBL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "http://www.noorderpoort.nl/mbo-opleidingen/techniek-en-ict/allround-operationeel-technicus-25345"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-06-22T10:06:17.0000000+00:00",
                                                        "endDate": "2022-06-22T06:06:17.0000000+00:00",
                                                        "url": "https://www.noorderpoort.nl/open-dagen/last-minute-informatiemarkt-alle-opleidingen/",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": false
                                                    },
                                                    {
                                                        "startDate": "2022-07-22T10:06:17.0000000+00:00",
                                                        "endDate": "2022-07-22T06:06:17.0000000+00:00",
                                                        "url": "https://www.noorderpoort.nl/open-dagen/informatieavond/",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": false
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "brin": "25LP",
                                        "name": "Zadkine",
                                        "website": "https://www.zadkine.nl/",
                                        "locations": [
                                            {
                                                "brinvest": "25LP01",
                                                "name": "Marten Meesweg",
                                                "isMainLocation": false,
                                                "street": "Marten Meesweg",
                                                "houseNumber": "50",
                                                "zipCode": "3068 AV",
                                                "city": "Rotterdam-Oost",
                                                "province": "Zuid-Holland",
                                                "website": "https://www.zadkine.nl/locaties/rotterdam-oost-marten-meesweg",
                                                "studies": [
                                                    {
                                                        "crebo": "25648",
                                                        "learningPaths": [
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "crebo": "25414",
                                                        "learningPaths": [
                                                            "BBL",
                                                            "BOL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-08-22T10:06:17.0000000+00:00",
                                                        "endDate": "2022-08-22T06:06:17.0000000+00:00",
                                                        "url": "https://www.zadkine.nl/opendag",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": true
                                                    }
                                                ]
                                            },
                                            {
                                                "brinvest": "25LP05",
                                                "name": "Benthemplein",
                                                "isMainLocation": true,
                                                "street": "Benthemplein",
                                                "houseNumber": "15",
                                                "zipCode": "3032 CC",
                                                "city": "Rotterdam",
                                                "province": "Zuid-Holland",
                                                "website": "https://www.zadkine.nl/locaties/rotterdam-centrum-benthemplein",
                                                "studies": [
                                                    {
                                                        "crebo": "25683",
                                                        "learningPaths": [
                                                            "BOL",
                                                            "BBL"
                                                        ],
                                                        "startingFebruary": false,
                                                        "startingSeptember": false,
                                                        "startingAnytime": false,
                                                        "hasNumerusFixus": false,
                                                        "urls": [
                                                            {
                                                                "url": "https://www.zadkine.nl/StuderenBijZadkine/Studiewijzer.aspx"
                                                            }
                                                        ]
                                                    }
                                                ],
                                                "opendays": [
                                                    {
                                                        "startDate": "2022-08-22T10:06:17.0000000+00:00",
                                                        "endDate": "2022-08-22T06:06:17.0000000+00:00",
                                                        "url": "https://www.zadkine.nl/opendag",
                                                        "type": "Open dag",
                                                        "isOnline": false,
                                                        "isGeneralOpenDay": true
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            "studies": {
                                "schema": {
                                    "$ref": "#/components/schemas/FullExportV2"
                                },
                                "example": [
                                    {
                                        "crebo": "25683",
                                        "creboName": "Maritiem officier alle schepen technisch",
                                        "studyNumber": "b1030",
                                        "profession": "bc477",
                                        "professionNumber": "23278",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Werken op zee, op grote zeeschepen, is dat iets voor jou? Als maritiem officier alle schepen technisch ben jij verantwoordelijk voor het technisch onderhoud aan boord.</span></p>",
                                        "youtubeVideoCode": "EXjukcWPXLM",
                                        "educationContent": "Tijdens deze opleiding krijg je onder andere les in procestechniek, energietechniek, meet- en regeltechniek en motoren en gasturbines. Zo word je een echte allrounder. Je leert hoe je productieprocessen kunt bedienen, bewaken en onderhouden. Denk daarbij aan de productie van elektriciteit, water, duurzame energie, stadswarmte of levensmiddelen. Je leert daarnaast ook leiding te geven aan collega’s. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25345",
                                        "creboName": "Allround operationeel technicus",
                                        "studyNumber": "b0753",
                                        "profession": "bc155",
                                        "professionNumber": "23132",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Vind jij het heerlijk om aan apparaten te sleutelen en zie jij jezelf wel zelfstandig daarin werken? Dan is allround operationeel technicus echt iets voor jou. Je installeert en bedient apparaten en zorgt ook voor het onderhoud.</span></p>",
                                        "youtubeVideoCode": "bhfbdm6o2lQ",
                                        "educationContent": "Tijdens deze opleiding krijg je onder andere les in procestechniek, energietechniek, meet- en regeltechniek en motoren en gasturbines. Zo word je een echte allrounder. Je leert hoe je productieprocessen kunt bedienen, bewaken en onderhouden. Denk daarbij aan de productie van elektriciteit, water, duurzame energie, stadswarmte of levensmiddelen. Je leert daarnaast ook leiding te geven aan collega’s. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25648",
                                        "creboName": "Zelfstandig medewerker leisure & hospitality",
                                        "studyNumber": "b0396",
                                        "profession": "bc300",
                                        "professionNumber": "23264",
                                        "level": 3,
                                        "duration": "2025-02-03",
                                        "introtext": "<p><span>Ben jij een echte gangmaker die mensen meekrijgt in een activiteit? Hou je ervan om mensen een mooie belevenis te geven? Dan is dit dé baan voor jou!</span></p>",
                                        "youtubeVideoCode": "BJm1zvoNcAE",
                                        "educationContent": "Je leert diverse sport- en spelactiviteiten kennen en organiseren. Je leert hoe je excursies organiseert en waar je aan moet denken. Je leert evenementen en entertainment te organiseren. Je leert hoe je mensen informeert en hoe je de verkoop en administratie kunt regelen. De vakken Nederlands, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25414",
                                        "creboName": "Coördinator sportinstructie, training en coaching",
                                        "studyNumber": "b0553",
                                        "profession": "bc350",
                                        "professionNumber": "23163",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Onmisbaar voor elke sporter en elk sportteam. Jij haalt het beste uit elke sporter en je houdt scherp in de gaten hoe teams beter kunnen presteren.</span></p>",
                                        "youtubeVideoCode": "bT_g3b8MkUo",
                                        "educationContent": "Activeren, organiseren, coachen, stimulerend leiding geven. Je leert het allemaal tijdens de opleiding coördinator sportinstructie, training en coaching. Je leert ook trainingen voor te bereiding en welke verschillende opzetten je kunt gebruiken. Je leert coachend leiding geven. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/studiesexport": {
            "get": {
                "tags": [
                    "Studiesexport"
                ],
                "summary": "StudiesexportV2",
                "operationId": "StudiesexportV2",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "lastUpdated": {
                                "schema": {
                                    "$ref": "#/components/schemas/StudiesExportV2"
                                },
                                "example": "2022-10-12T11:25:45.0000000+00:00"
                            },
                            "studies": {
                                "schema": {
                                    "$ref": "#/components/schemas/StudiesExportV2"
                                },
                                "example": [
                                    {
                                        "crebo": "25683",
                                        "creboName": "Maritiem officier alle schepen technisch",
                                        "studyNumber": "b1030",
                                        "profession": "bc477",
                                        "professionNumber": "23278",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Werken op zee, op grote zeeschepen, is dat iets voor jou? Als maritiem officier alle schepen technisch ben jij verantwoordelijk voor het technisch onderhoud aan boord.</span></p>",
                                        "youtubeVideoCode": "EXjukcWPXLM",
                                        "educationContent": "Tijdens deze opleiding krijg je onder andere les in procestechniek, energietechniek, meet- en regeltechniek en motoren en gasturbines. Zo word je een echte allrounder. Je leert hoe je productieprocessen kunt bedienen, bewaken en onderhouden. Denk daarbij aan de productie van elektriciteit, water, duurzame energie, stadswarmte of levensmiddelen. Je leert daarnaast ook leiding te geven aan collega’s. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25345",
                                        "creboName": "Allround operationeel technicus",
                                        "studyNumber": "b0753",
                                        "profession": "bc155",
                                        "professionNumber": "23132",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Vind jij het heerlijk om aan apparaten te sleutelen en zie jij jezelf wel zelfstandig daarin werken? Dan is allround operationeel technicus echt iets voor jou. Je installeert en bedient apparaten en zorgt ook voor het onderhoud.</span></p>",
                                        "youtubeVideoCode": "bhfbdm6o2lQ",
                                        "educationContent": "Tijdens deze opleiding krijg je onder andere les in procestechniek, energietechniek, meet- en regeltechniek en motoren en gasturbines. Zo word je een echte allrounder. Je leert hoe je productieprocessen kunt bedienen, bewaken en onderhouden. Denk daarbij aan de productie van elektriciteit, water, duurzame energie, stadswarmte of levensmiddelen. Je leert daarnaast ook leiding te geven aan collega’s. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25648",
                                        "creboName": "Zelfstandig medewerker leisure & hospitality",
                                        "studyNumber": "b0396",
                                        "profession": "bc300",
                                        "professionNumber": "23264",
                                        "level": 3,
                                        "duration": "2025-02-03",
                                        "introtext": "<p><span>Ben jij een echte gangmaker die mensen meekrijgt in een activiteit? Hou je ervan om mensen een mooie belevenis te geven? Dan is dit dé baan voor jou!</span></p>",
                                        "youtubeVideoCode": "BJm1zvoNcAE",
                                        "educationContent": "Je leert diverse sport- en spelactiviteiten kennen en organiseren. Je leert hoe je excursies organiseert en waar je aan moet denken. Je leert evenementen en entertainment te organiseren. Je leert hoe je mensen informeert en hoe je de verkoop en administratie kunt regelen. De vakken Nederlands, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    },
                                    {
                                        "crebo": "25414",
                                        "creboName": "Coördinator sportinstructie, training en coaching",
                                        "studyNumber": "b0553",
                                        "profession": "bc350",
                                        "professionNumber": "23163",
                                        "level": 4,
                                        "duration": "2025-03-04",
                                        "introtext": "<p><span>Onmisbaar voor elke sporter en elk sportteam. Jij haalt het beste uit elke sporter en je houdt scherp in de gaten hoe teams beter kunnen presteren.</span></p>",
                                        "youtubeVideoCode": "bT_g3b8MkUo",
                                        "educationContent": "Activeren, organiseren, coachen, stimulerend leiding geven. Je leert het allemaal tijdens de opleiding coördinator sportinstructie, training en coaching. Je leert ook trainingen voor te bereiding en welke verschillende opzetten je kunt gebruiken. Je leert coachend leiding geven. De vakken Nederlands, Engels, rekenen en burgerschap horen standaard bij deze opleiding en je kunt vaak nog extra keuzedelen kiezen om je verder te specialiseren."
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "FullExport": {
                "type": "object",
                "properties": {
                    "LastUpdated": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "Schools": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/School"
                        }
                    },
                    "Studies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Study"
                        }
                    }
                }
            },
            "FullExportV2": {
                "type": "object",
                "properties": {
                    "LastUpdated": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "Schools": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/School"
                        }
                    },
                    "Studies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StudyV2"
                        }
                    }
                }
            },
            "School": {
                "type": "object",
                "properties": {
                    "BRIN": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Website": {
                        "type": "string"
                    },
                    "Locations": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Location"
                        }
                    }
                }
            },
            "Study": {
                "type": "object",
                "properties": {
                    "Crebo": {
                        "type": "string"
                    },
                    "CreboName": {
                        "type": "string"
                    },
                    "StudyNumber": {
                        "type": "string"
                    },
                    "Profession": {
                        "type": "string"
                    },
                    "ProfessionNumber": {
                        "type": "string"
                    },
                    "Level": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Duration": {
                        "type": "string"
                    },
                    "Introtext": {
                        "type": "string"
                    },
                    "YoutubeVideoCode": {
                        "type": "string"
                    }
                }
            },
            "StudyV2": {
                "type": "object",
                "properties": {
                    "Crebo": {
                        "type": "string"
                    },
                    "CreboName": {
                        "type": "string"
                    },
                    "StudyNumber": {
                        "type": "string"
                    },
                    "Profession": {
                        "type": "string"
                    },
                    "ProfessionNumber": {
                        "type": "string"
                    },
                    "Level": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "Duration": {
                        "type": "string"
                    },
                    "Introtext": {
                        "type": "string"
                    },
                    "YoutubeVideoCode": {
                        "type": "string"
                    },
                    "EducationContent": {
                        "type": "string"
                    }
                }
            },
            "Location": {
                "type": "object",
                "properties": {
                    "BRINVEST": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "IsMainLocation": {
                        "type": "boolean"
                    },
                    "Street": {
                        "type": "string"
                    },
                    "HouseNumber": {
                        "type": "string"
                    },
                    "ZipCode": {
                        "type": "string"
                    },
                    "City": {
                        "type": "string"
                    },
                    "Province": {
                        "type": "string"
                    },
                    "Website": {
                        "type": "string"
                    },
                    "Studies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LocationStudy"
                        }
                    },
                    "Opendays": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LocationOpenday"
                        }
                    }
                }
            },
            "LocationStudy": {
                "type": "object",
                "properties": {
                    "Crebo": {
                        "type": "string"
                    },
                    "LearningPaths": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "StartingFebruary": {
                        "type": "boolean"
                    },
                    "StartingSeptember": {
                        "type": "boolean"
                    },
                    "StartingAnytime": {
                        "type": "boolean"
                    },
                    "HasNumerusFixus": {
                        "type": "boolean"
                    },
                    "Urls": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StudyUrl"
                        }
                    }
                }
            },
            "LocationOpenday": {
                "type": "object",
                "properties": {
                    "StartDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "EndDate": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "Url": {
                        "type": "string"
                    },
                    "Type": {
                        "type": "string"
                    },
                    "IsOnline": {
                        "type": "boolean"
                    },
                    "IsGeneralOpenDay": {
                        "type": "boolean"
                    }
                }
            },
            "StudyUrl": {
                "type": "object",
                "properties": {
                    "Title": {
                        "type": "string"
                    },
                    "Url": {
                        "type": "string"
                    }
                }
            },
            "StudiesExportV2": {
                "type": "object",
                "properties": {
                    "LastUpdated": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "Studies": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/StudyV2"
                        }
                    }
                }
            },
            "ApiResult": {
                "type": "object",
                "properties": {
                    "HasError": {
                        "type": "boolean"
                    },
                    "ErrorMessage": {
                        "type": "string"
                    },
                    "Data": {
                        "type": "object"
                    }
                }
            }
        },
        "securitySchemes": {
            "apiKeyHeader": {
                "type": "apiKey",
                "name": "Ocp-Apim-Subscription-Key",
                "in": "header"
            },
            "apiKeyQuery": {
                "type": "apiKey",
                "name": "subscription-key",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ]
}